@font-face {
  font-family: 'hand-font';
  src: url('/font.ttf') format('truetype');
}

body{
  font-family: "hand-font", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}